version: "3.7"
services:
  web:
    image: nicholasjackson/fake-service:v0.7.8
    environment:
      LISTEN_ADDR: 0.0.0.0:9094
      MESSAGE: "Web response"
      NAME: "web"
      SERVER_TYPE: "http"
      HTTP_CLIENT_APPEND_REQUEST: "true"
      UPSTREAM_URIS: "http://fake-api.virtual.consul"
    ports:
    - "9094:9094"